@model MVC_CabServices.Models.UserRegister

@{
    ViewData["Title"] = "UserRegister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h1>UserRegister</h1>*@

<script type="text/javascript">
    function validateForm() {
        var email = document.getElementById("email");
        //var emailRegEx = /^(([^<>()[\]\\.,;:\s@@\"]+(\.[^<>()[\]\\.,;:\s@@\"]+)*)|(\".+\"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        if (email.value == "") {
            alert("Email must be filled out");
            return false;
        }
        var fname = document.getElementById("fname");
        if (fname.value == "") {
            alert("First Name must be filled out");
            return false;
        }
        var lname = document.getElementById("lname");
        if (lname.value == "") {
            alert("Last Name must be filled out");
            return false;
        }
        var password = document.getElementById("password");
        if (password.value == "") {
            alert("Password must be filled out");
            return false;
        var urole = document.getElementById("userrole");
        if (urole.value == "") {
            alert("UserRole must be filled out");
            return false;
        }
        var pnum = document.getElementById("PhoneNum");
        //var pnumRegEx = /^\(?(\d{3})\)?[- ]?(\d{3})[- ]?(\d{4})$/;
        if (pnum.value == "") {
            alert("PhoneNum must be filled out");
            return false;
        }
        var cpassword = document.getElementById("cpassword");
        if (cpassword.value == "") {
            alert("ConfirmPassword must be filled out");
            return false;
        }
        if (password != cpassword) {
            alert("Password and ConfirmPassword are not matched");
            return false;
        }
    }
</script>



<h4>UserRegister</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UserRegister">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmailId" class="control-label"></label>
               <input asp-for="EmailId" id="email" class="form-control" type="email" />
                <span asp-validation-for="EmailId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" id="fname" class="form-control" type="text" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" id="lname" class="form-control" type="text" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" id="password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserRoleId" class="control-label"></label>
                <input asp-for="UserRoleId" id="userrole" class="form-control" type="number" />
                <span asp-validation-for="UserRoleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MobileNumber" class="control-label"></label>
               <input asp-for="MobileNumber" id="PhoneNum" class="form-control" type="number" />
                <span asp-validation-for="MobileNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
               <input asp-for="ConfirmPassword" id="cpassword" class="form-control" type="password" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" onclick="return validateForm()" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
